<h1>{{name}}</h1>
<p><strong>Email:</strong>{{email}}</p>
<p><strong>Address:</strong>{{address.street}}{{address.apt}}{{address.city}}{{address.state}}{{address.zip}}</p>
<button (click)="toggleHobbies()">{{showHobbies?"Hide Hobbies":"Show Hobbies"}}</button>
<div *ngIf="showHobbies">
  <h3>Hobbies</h3>
    <ul>
      <li *ngFor="let hobby of hobbies; let i=index">{{hobby}}
      <button (click)="deleteHobby(i)">x</button></li>
    </ul>
        <label> Add Hobby:</label><br/>
        <input type="text" #hobby/>
        <button (click)="addHobby(hobby.value)">Add Hobby</button>
</div>
<hr/>
<h3>Edit User</h3>
    <form>
    <label>Name:</label><input type="text" name="name" [(ngModel)]="name"/><br/>
    <label>Email:</label><input type="text" name="email" [(ngModel)]="email"/><br/>
    <label>Street:</label><input type="text" name="address.street" [(ngModel)]="address.street"/><br/>
    <label>APT:</label><input type="text" name="address.apt" [(ngModel)]="address.apt"/><br/>
    <label>City:</label><input type="text" name="address.city" [(ngModel)]="address.city"/><br/>
    <label>State:</label><input type="text" name="address.state" [(ngModel)]="address.state"/><br/>
    <label>Zip:</label><input type="text" name="address.zip" [(ngModel)]="address.zip"/><br/>
    </form>
<hr/>
<h3>Posts from Service</h3>
<div *ngFor="let post of posts">
<h3>{{post.title}}</h3>
<p>{{post.title}}</p>
</div>
